
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "Montserrat";
  text-align: center;
}

a{
  font-family: "Montserrat-Bold";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2.5rem;
}

.white-section {
  background-color: #fff;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 40px;
}

.nav-item {
  padding: 0 10px;
}

/* Title Section */
#title {
  background-color: #9ea09e;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #8f8f8f;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4f4d4e;
}

.container-fluid {
  padding: 1% 1%;
}

.second-header{
  background-color:white;
  color:rgb(37, 37, 37);
}

.footer{
  background-color:#9ea09e;
  color:white;
}

.footer-link{
  padding: 5px;
  margin-bottom: 0%;
  color:white;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
